<div class="container">

	<div class="row center">
		<h2>勝敗</h2>
	</div>

	<div class="row center">
		<h2><%= @victory %></h2>
	</div>

	<div class="row">
		<div class="col-md-6 center">
			自分<br>
			<h3><%= @select %></h3>
		</div>

		<div class="col-md-6 center">
			相手<br>
			<h3><%= @judgment %></h3>
		</div>
	</div>

	<div class="row center">
		<h2><%= link_to "もう一度", root_path, class: 'btn btn-success btn-lg' %></h2>
	</div>

</div>

<style>
.center {
	text-align: center;
}
</style>